BOT_TOKEN=7923754810:AAEY8Q1iWTTh9ztA1yreckWn53Aq3QARCHI
REQUEST_DELAY_SECONDS=1.2
HTTP_TIMEOUT=25
MAX_LINKS_PER_REQUEST=500
MAX_TEXT_CHARS=50000
MAX_WORKERS=1
PROGRESS_EVERY=15
RESULT_FILENAME=short_links.txt
LOG_LEVEL=INFO
OUTPUT_ERRORS_AS_ERROR=true
ALLOW_DUPLICATE_LINKS=false
